@model LojaDDD.MVC.ViewModels.ClienteViewModel


@{
    ViewBag.Title = "Confirmar exclusão";
}
@if (ViewBag.Alerta != null)
{
    <div class="alert alert-info" role="alert">@ViewBag.Alerta</div>
}

<h3>Confirma a Exclusão?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Idade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Idade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-danger" /> 
                @Html.ActionLink("Cancelar", "Index",null,new {@class="btn btn-default"})
            </div>
        }
    </div>
