@model IEnumerable<LojaDDD.MVC.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Lista de CLientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Cadastrar novo", "Create",null,new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID },  new {@class="btn btn-warning"})
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID } , new {@class="btn btn-info"} )  
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID } , new {@class="btn btn-danger"})
        </td>
    </tr>
}

</table>
