@model LojaDDD.MVC.ViewModels.VendaViewModel

@{
    ViewBag.Title = "Confirmar exclusão";
}
@if (ViewBag.Alerta != null)
{
    <div class="alert alert-info" role="alert">@ViewBag.Alerta</div>
}

<h3>Confirma a Exclusão?</h3>
<div>
    <h4>Pedido @Html.DisplayFor(model=>model.Id)</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> 
            @Html.ActionLink("Cancelar", "Index",null,new {@class="btn btn-default"})
        </div>
    }
</div>
