@model LojaDDD.MVC.ViewModels.VendaViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>VendaViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ClienteId)
                @Html.EditorFor(model => model.Cliente.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataVenda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataVenda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataVenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        @{ if ((Model.Id != null) && (Model.Id != Int16.MinValue))
            {
                <div class="panel panel-default" style="margin:20px;">
                    <div class="panel-heading">

                        <div class="row">
                            <div class="col-md-14 col-sm-12">
                                <div class="form-group col-md-6 col-sm-6">
                                    <h3 class="panel-title">Itens do pedido</h3>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    @*<button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#myModal">Novo Item</button>*@
                                    @Html.ActionLink("Incluir novo Item", "Create", "ProdutosVenda", new { vendaId = @Model.Id }, new { @class = "badge badge-success" })
                                    @Html.ActionLink("ShowModal", "Create", "ProdutosVenda",
                                        new { vendaId = @Model.Id }, new { @class = "modal-link btn btn-success" })
                                    @*<a href="#" class="btn btn-default btn-details" data-id="@Model.Id"> Incluir Item</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <table class="table">
                                <tr>
                                    <th>
                                        Produto
                                    </th>
                                    <th>
                                        Quantidade
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>

                                @foreach (var itemVenda in Model.ProdutosVenda)
                    {
                                    <tr>
                                        <td>
                                            @itemVenda.Produto.Nome
                                        </td>
                                        <td>
                                            @itemVenda.Quantidade
                                        </td>
                                        <td>
                                            @itemVenda.ValorUnitario
                                        </td>
                                        <td>
                                            @itemVenda.ValorTotal
                                        </td>
                                        <td>
                                            @*<button class="btn btn-danger" type="submit" onclick="javascript: deleteRecord('@itemVenda.Id', '@Url.Action(LojaDDD.MVC.Controllers.ProdutosVendaController. .DeleteItem())');">Deletar</button>*@
                                            @Html.ActionLink("Excluir", "DeleteConfirmed", "ProdutosVenda", new { id = @itemVenda.Id }, null)

                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            }
        }


    </div>
            }

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
<!-- Modal -->
<div class="modal fade" id="modal-container" tabindex="-1" role="dialog">
    <div class="modal-content"></div>  
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
</script>

    @*<script type="text/javascript">
        $(document).ready(function () {
            $(".btn-details").click(function () {
                var id = $(this).attr("data-id");
                alert(id);
                $("#modal").load("/ProdutosVenda/Create?vendaId=" + id,
                    function () {
                        $('#modal').modal("show");
                    });
            });
        })

    </script>*@

}
